{% extends 'base.html' %}

{% load bootstrap %}
{% block content %}

<form method="POST" enctype="multipart/form-data" style="padding-bottom: 40%;">
    {% csrf_token %}
    {{ form|bootstrap_horizontal:'col-lg-1' }}
    {{ images.as_table }}
    <!-- {{ points.as_table }} -->
    <!-- {% for field in form %}
        <div class="form-group">
            <label for="exampleInputEmail1">{{ field.name }}</label>
            {{ field}}
          </div>  
    {% endfor %} -->
    <button type="submit" class="btn btn-primary" value="save">Submit</button>

    <!-- <button class="primary-btn" type="submit" value="save">submit</button> -->

</form>

{% endblock %}

