{% extends "base.html" %}

{% block content %}


<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Patients</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Doctor</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in patient_list %}
              <tr>
                <td><a href="{% url 'patient-detail' patient.id %}">{{ patient.name_pati }}</a></td>
                <td>{{ patient.description_pati }}</td>
                <td>{{ patient.date_pati|date:"F d, Y" }}</td>
                <td>{{ request.user }}</td>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'patient-delete' object.id %}">Delete</a>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
   
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
   
      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}