<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  {% if user.is_authenticated %}
    
  {% endif %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

        {% if not user.is_authenticated %}
        
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">login</a>
        </li>

        {% else %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">logout</a>
          </div>
        </li>
        
        {% endif %}
      </ul>
    </div>
  </nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Radiography</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        
        {% if user.is_authenticated %}
            <!-- <li class="nav-item">
            <a class="nav-link" href="/dashboard">dashboard</a>
            </li> -->

            <button class="btn btn-primary" id="menu-toggle">dashboard</button>

            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> -->

            <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
            </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="/register">register</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/login">login</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">logout</a>
        </div>
      </li>

        </ul>
    </div>
</nav>