<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Radiography </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Account</a>
      <a href="{% url 'patient:patient' %}" class="list-group-item list-group-item-action bg-light">Patients</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Viewer</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Hospitals</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Settings</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->